body {
    font-family: Impact, Helvetica, sans-serif;
    background-color: #888;
    margin: 0;
    overflow: hidden;
  }
  
#gameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}